[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
boto3 = "*"
botocore = "*"
urllib3 = "*"
setuptools = "*"
typing-extensions = "*"
certifi = "*"
charset-normalizer = "*"
wheel = "*"
awscli = "*"
google-api-core = "*"
s3transfer = "*"
idna = "*"
pyyaml = "*"
python-dateutil = "*"
cryptography = "*"
six = "*"
importlib-metadata = "*"
packaging = "*"

[dev-packages]

[requires]
python_version = "3.10"
